force-app/main/default/flows/flow_two.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Choice_Four</name>
        <choiceText>Choice Four</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choice Four</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_One</name>
        <choiceText>Choice One</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choice One</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Three</name>
        <choiceText>Choice Three</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choice Three</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Two</name>
        <choiceText>Choice Two</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choice Two</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>flow two {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow two</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Cards_To_Show</name>
        <label>Cards To Show</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_one</targetReference>
        </connector>
        <fields>
            <name>Enable_Custom_Container</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Enable Custom Container</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Cards_To_Show</name>
            <choiceReferences>Choice_One</choiceReferences>
            <choiceReferences>Choice_Two</choiceReferences>
            <choiceReferences>Choice_Three</choiceReferences>
            <choiceReferences>Choice_Four</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Choice One;Choice Two;Choice Three;Choice Four</stringValue>
            </defaultValue>
            <fieldText>Select Cards To Show</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_one</name>
        <label>screen one</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Card_without_custom_container</name>
            <fieldText>Card without custom container</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Card_without_custom_container_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>card001</name>
                    <extensionName>XLC:lightningCard</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cardValue</name>
                        <value>
                            <stringValue>card001</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Card_without_custom_container_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>card002</name>
                    <extensionName>XLC:lightningCard</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cardValue</name>
                        <value>
                            <stringValue>card002</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Card_without_custom_container_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>card003</name>
                    <extensionName>XLC:lightningCard</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Card_with_custom_container</name>
            <fieldText>Card with custom container</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Card_with_custom_container_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Card_One</name>
                    <extensionName>XLC:lightningCard</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cardValue</name>
                        <value>
                            <stringValue>Card One</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isInCustomFlexContainer</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Cards_To_Show</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Choice_One</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Card_Three</name>
                    <extensionName>XLC:lightningCard</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cardValue</name>
                        <value>
                            <stringValue>Card Three</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isInCustomFlexContainer</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Cards_To_Show</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Choice_Three</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Card_Two</name>
                    <extensionName>XLC:lightningCard</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cardValue</name>
                        <value>
                            <stringValue>Card Two</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isInCustomFlexContainer</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Cards_To_Show</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Choice_Two</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Card_Four</name>
                    <extensionName>XLC:lightningCard</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cardValue</name>
                        <value>
                            <stringValue>Card Four</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isInCustomFlexContainer</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Cards_To_Show</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Choice_Four</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Custom_Container</name>
            <extensionName>XLC:container</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>childWidth</name>
                <value>
                    <stringValue>33%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childWidthMobile</name>
                <value>
                    <stringValue>100%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Enable_Custom_Container</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>testCard001</name>
            <extensionName>XLC:lightningCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cardValue</name>
                <value>
                    <stringValue>value 00000001</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cards_To_Show</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>cardValue000001</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>testCard001.customValueToUpdate</elementReference>
        </value>
    </variables>
</Flow>
